-- MySQL dump 10.16  Distrib 10.1.8-MariaDB, for Win32 (AMD64)
--
-- Host: localhost    Database: resume
-- ------------------------------------------------------
-- Server version	10.3.11-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `resume`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `resume` /*!40100 DEFAULT CHARACTER SET latin1 */;

USE `resume`;

--
-- Table structure for table `candidate`
--

DROP TABLE IF EXISTS `candidate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidate` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `personId` int(10) unsigned NOT NULL,
  `executiveSummary` text DEFAULT NULL,
  `objective` varchar(500) DEFAULT NULL,
  `agencyId` int(10) unsigned DEFAULT NULL,
  `agencyContactId` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personId` (`personId`),
  KEY `agencyId` (`agencyId`),
  KEY `agencyContactId` (`agencyContactId`),
  CONSTRAINT `FK_CANDIDATE_PERSONID` FOREIGN KEY (`personId`) REFERENCES `person` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `candidate_ibfk_1` FOREIGN KEY (`agencyId`) REFERENCES `company` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `candidate_ibfk_2` FOREIGN KEY (`agencyContactId`) REFERENCES `person` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidate`
--

LOCK TABLES `candidate` WRITE;
/*!40000 ALTER TABLE `candidate` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `candidate_basic_vw`
--

DROP TABLE IF EXISTS `candidate_basic_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_basic_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_basic_vw` (
  `id` tinyint NOT NULL,
  `executiveSummary` tinyint NOT NULL,
  `objective` tinyint NOT NULL,
  `agencyContactId` tinyint NOT NULL,
  `agencyContactFormattedName` tinyint NOT NULL,
  `agencyContactMobilePhone` tinyint NOT NULL,
  `agencyContactWorkPhone` tinyint NOT NULL,
  `personId` tinyint NOT NULL,
  `personFormattedName` tinyint NOT NULL,
  `personGivenName` tinyint NOT NULL,
  `personMiddleName` tinyint NOT NULL,
  `personFamilyName` tinyint NOT NULL,
  `personAffix` tinyint NOT NULL,
  `personAddr1` tinyint NOT NULL,
  `personAddr2` tinyint NOT NULL,
  `personMunicipality` tinyint NOT NULL,
  `personRegion` tinyint NOT NULL,
  `personPostalCode` tinyint NOT NULL,
  `personCountryCode` tinyint NOT NULL,
  `personEmail1` tinyint NOT NULL,
  `personEmail2` tinyint NOT NULL,
  `personWebsite` tinyint NOT NULL,
  `agencyId` tinyint NOT NULL,
  `agencyName` tinyint NOT NULL,
  `agencyDesc` tinyint NOT NULL,
  `agencyAddr1` tinyint NOT NULL,
  `agencyAddr2` tinyint NOT NULL,
  `agencyCity` tinyint NOT NULL,
  `agencyState` tinyint NOT NULL,
  `agencyZip` tinyint NOT NULL,
  `agencyCountry` tinyint NOT NULL,
  `agencyEmail` tinyint NOT NULL,
  `agencyWebsite` tinyint NOT NULL,
  `personHomePhone` tinyint NOT NULL,
  `personMobilePhone` tinyint NOT NULL,
  `personWorkPhone` tinyint NOT NULL,
  `jobSkillName` tinyint NOT NULL,
  `edSkillName` tinyint NOT NULL,
  `certSkillName` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `candidate_certifications_vw`
--

DROP TABLE IF EXISTS `candidate_certifications_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_certifications_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_certifications_vw` (
  `id` tinyint NOT NULL,
  `candidateId` tinyint NOT NULL,
  `name` tinyint NOT NULL,
  `description` tinyint NOT NULL,
  `issueDate` tinyint NOT NULL,
  `certificateImage` tinyint NOT NULL,
  `skillIds` tinyint NOT NULL,
  `skillNames` tinyint NOT NULL,
  `skillPcts` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `candidate_education_vw`
--

DROP TABLE IF EXISTS `candidate_education_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_education_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_education_vw` (
  `id` tinyint NOT NULL,
  `candidateId` tinyint NOT NULL,
  `schoolName` tinyint NOT NULL,
  `schoolMunicipality` tinyint NOT NULL,
  `schoolRegion` tinyint NOT NULL,
  `schoolCountry` tinyint NOT NULL,
  `degreeName` tinyint NOT NULL,
  `degreeType` tinyint NOT NULL,
  `degreeMajor` tinyint NOT NULL,
  `degreeMinor` tinyint NOT NULL,
  `startDate` tinyint NOT NULL,
  `endDate` tinyint NOT NULL,
  `skillIds` tinyint NOT NULL,
  `skillNames` tinyint NOT NULL,
  `skillPcts` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `candidate_jobedskilllist_vw`
--

DROP TABLE IF EXISTS `candidate_jobedskilllist_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_jobedskilllist_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_jobedskilllist_vw` (
  `id` tinyint NOT NULL,
  `formattedName` tinyint NOT NULL,
  `familyName` tinyint NOT NULL,
  `jobSkillname` tinyint NOT NULL,
  `edSkillName` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `candidate_jobedskills_vw`
--

DROP TABLE IF EXISTS `candidate_jobedskills_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_jobedskills_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_jobedskills_vw` (
  `id` tinyint NOT NULL,
  `formattedName` tinyint NOT NULL,
  `familyName` tinyint NOT NULL,
  `jobSkillName` tinyint NOT NULL,
  `edSkillId` tinyint NOT NULL,
  `edSkillName` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `candidate_jobs_vw`
--

DROP TABLE IF EXISTS `candidate_jobs_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_jobs_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_jobs_vw` (
  `id` tinyint NOT NULL,
  `candidateId` tinyint NOT NULL,
  `startDate` tinyint NOT NULL,
  `endDate` tinyint NOT NULL,
  `payType` tinyint NOT NULL,
  `startPay` tinyint NOT NULL,
  `endPay` tinyint NOT NULL,
  `summary` tinyint NOT NULL,
  `jobTitleId` tinyint NOT NULL,
  `jobTitle` tinyint NOT NULL,
  `companyId` tinyint NOT NULL,
  `name` tinyint NOT NULL,
  `municipality` tinyint NOT NULL,
  `region` tinyint NOT NULL,
  `countryCode` tinyint NOT NULL,
  `personId` tinyint NOT NULL,
  `personName` tinyint NOT NULL,
  `personMobilePhone` tinyint NOT NULL,
  `personWorkPhone` tinyint NOT NULL,
  `skillIds` tinyint NOT NULL,
  `skillNames` tinyint NOT NULL,
  `skillPcts` tinyint NOT NULL,
  `skillTestedFlag` tinyint NOT NULL,
  `skillTestResults` tinyint NOT NULL,
  `skillTotalMonths` tinyint NOT NULL,
  `skillTags` tinyint NOT NULL,
  `skillTagNames` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `candidate_jobskilllist_vw`
--

DROP TABLE IF EXISTS `candidate_jobskilllist_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_jobskilllist_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_jobskilllist_vw` (
  `id` tinyint NOT NULL,
  `formattedName` tinyint NOT NULL,
  `familyName` tinyint NOT NULL,
  `jobSkillName` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `candidate_skilllist_vw`
--

DROP TABLE IF EXISTS `candidate_skilllist_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_skilllist_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_skilllist_vw` (
  `id` tinyint NOT NULL,
  `formattedName` tinyint NOT NULL,
  `familyName` tinyint NOT NULL,
  `jobSkillname` tinyint NOT NULL,
  `edSkillName` tinyint NOT NULL,
  `certSkillName` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `candidate_skills`
--

DROP TABLE IF EXISTS `candidate_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidate_skills` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `candidateId` int(10) unsigned NOT NULL,
  `skillId` int(10) unsigned NOT NULL,
  `techtagId` int(10) unsigned NOT NULL,
  `experienceLevel` varchar(30) DEFAULT NULL,
  `tested` tinyint(1) NOT NULL DEFAULT 0,
  `testResults` varchar(80) DEFAULT NULL,
  `totalMonths` smallint(5) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `candidateId_2` (`candidateId`,`skillId`,`techtagId`),
  KEY `skillId` (`skillId`),
  KEY `candidateId` (`candidateId`),
  KEY `techtagId` (`techtagId`),
  CONSTRAINT `candidate_skills_ibfk_1` FOREIGN KEY (`skillId`) REFERENCES `skill` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `candidate_skills_ibfk_2` FOREIGN KEY (`candidateId`) REFERENCES `candidate` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `candidate_skills_ibfk_3` FOREIGN KEY (`techtagId`) REFERENCES `techtag` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=120 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidate_skills`
--

LOCK TABLES `candidate_skills` WRITE;
/*!40000 ALTER TABLE `candidate_skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidate_skills` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `tr_candidate_skills_bi` BEFORE INSERT ON `candidate_skills` FOR EACH ROW BEGIN
	
	DECLARE all_good INT;
	
	SELECT COUNT(1) INTO all_good 
		FROM skills_techtags
		WHERE skills_techtags.skillId = NEW.skillId 
			AND skills_techtags.techtagId = NEW.techtagId;
	
	IF all_good = 0 THEN
		SET @msg = 'The techtagId must relate to the skillId through the "skills_techtags" table';
		SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = @msg;
	END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `tr_candidate_skills_bu` BEFORE UPDATE ON `candidate_skills` FOR EACH ROW BEGIN
	
	DECLARE all_good INT;
	
	SELECT COUNT(1) INTO all_good 
		FROM skills_techtags
		WHERE skills_techtags.skillId = NEW.skillId 
			AND skills_techtags.techtagId = NEW.techtagId;
	
	IF all_good = 0 THEN
		SET @msg = 'The techtagId must relate to the skillId through the "skills_techtags" table';
		SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = @msg;
	END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `candidate_skills_vw`
--

DROP TABLE IF EXISTS `candidate_skills_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_skills_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_skills_vw` (
  `id` tinyint NOT NULL,
  `formattedName` tinyint NOT NULL,
  `familyName` tinyint NOT NULL,
  `jobSkillName` tinyint NOT NULL,
  `edSkillName` tinyint NOT NULL,
  `certSkillId` tinyint NOT NULL,
  `certSkillName` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `candidate_with_jobskills_vw`
--

DROP TABLE IF EXISTS `candidate_with_jobskills_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_with_jobskills_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_with_jobskills_vw` (
  `id` tinyint NOT NULL,
  `formattedName` tinyint NOT NULL,
  `familyName` tinyint NOT NULL,
  `jobSkillId` tinyint NOT NULL,
  `jobSkillName` tinyint NOT NULL,
  `skillTested` tinyint NOT NULL,
  `testResults` tinyint NOT NULL,
  `skillTotalMonths` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `candidate_with_phones_jobskills_vw`
--

DROP TABLE IF EXISTS `candidate_with_phones_jobskills_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_with_phones_jobskills_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_with_phones_jobskills_vw` (
  `id` tinyint NOT NULL,
  `FullName` tinyint NOT NULL,
  `LastName` tinyint NOT NULL,
  `Agency` tinyint NOT NULL,
  `phoneType` tinyint NOT NULL,
  `phoneNumber` tinyint NOT NULL,
  `jobSkillName` tinyint NOT NULL,
  `edSkillName` tinyint NOT NULL,
  `certSkillName` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `candidate_with_phones_skills_vw`
--

DROP TABLE IF EXISTS `candidate_with_phones_skills_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_with_phones_skills_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_with_phones_skills_vw` (
  `id` tinyint NOT NULL,
  `fullName` tinyint NOT NULL,
  `lastName` tinyint NOT NULL,
  `agency` tinyint NOT NULL,
  `phoneType` tinyint NOT NULL,
  `phoneNumber` tinyint NOT NULL,
  `jobSkillName` tinyint NOT NULL,
  `edSkillName` tinyint NOT NULL,
  `certSkillName` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `candidate_with_phonetypes_skills_vw`
--

DROP TABLE IF EXISTS `candidate_with_phonetypes_skills_vw`;
/*!50001 DROP VIEW IF EXISTS `candidate_with_phonetypes_skills_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `candidate_with_phonetypes_skills_vw` (
  `id` tinyint NOT NULL,
  `fullName` tinyint NOT NULL,
  `jobSkillName` tinyint NOT NULL,
  `edSkillName` tinyint NOT NULL,
  `certSkillName` tinyint NOT NULL,
  `homePhone` tinyint NOT NULL,
  `mobilePhone` tinyint NOT NULL,
  `workPhone` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `candidatecertifications`
--

DROP TABLE IF EXISTS `candidatecertifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatecertifications` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `candidateId` int(10) unsigned NOT NULL,
  `name` varchar(60) NOT NULL,
  `description` varchar(240) DEFAULT NULL,
  `issueDate` date DEFAULT NULL,
  `certificateImage` varchar(80) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `candidateId` (`candidateId`),
  CONSTRAINT `candidatecertifications_ibfk_1` FOREIGN KEY (`candidateId`) REFERENCES `candidate` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatecertifications`
--

LOCK TABLES `candidatecertifications` WRITE;
/*!40000 ALTER TABLE `candidatecertifications` DISABLE KEYS */;
INSERT INTO `candidatecertifications` VALUES (1,3,'Scrum Master Certification',NULL,'2015-10-04',NULL),(2,7,'Cisco Certified Network Associate (CCNA)',NULL,NULL,'ccna_cert.png'),(3,7,'Cisco Certified Networking Professional (CCNP)',NULL,NULL,'ccnp_cert.jpg');
/*!40000 ALTER TABLE `candidatecertifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidatecertifications_skills`
--

DROP TABLE IF EXISTS `candidatecertifications_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatecertifications_skills` (
  `certificationId` int(10) unsigned NOT NULL,
  `skillId` int(10) unsigned NOT NULL,
  `usePercentage` tinyint(3) unsigned NOT NULL DEFAULT 100,
  PRIMARY KEY (`certificationId`,`skillId`),
  KEY `skillId` (`skillId`),
  CONSTRAINT `candidatecertifications_skills_ibfk_1` FOREIGN KEY (`certificationId`) REFERENCES `candidatecertifications` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `candidatecertifications_skills_ibfk_2` FOREIGN KEY (`skillId`) REFERENCES `candidate_skills` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatecertifications_skills`
--

LOCK TABLES `candidatecertifications_skills` WRITE;
/*!40000 ALTER TABLE `candidatecertifications_skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidatecertifications_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidateeducation`
--

DROP TABLE IF EXISTS `candidateeducation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidateeducation` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `candidateId` int(10) unsigned NOT NULL,
  `schoolName` varchar(60) NOT NULL,
  `schoolMunicipality` varchar(80) DEFAULT NULL,
  `schoolRegion` varchar(30) DEFAULT NULL,
  `schoolCountry` varchar(30) DEFAULT NULL,
  `degreeName` varchar(80) NOT NULL,
  `degreeType` enum('non-Degree','Associates','Bachelors','Masters','Doctorate','Diploma') NOT NULL,
  `degreeMajor` varchar(30) DEFAULT NULL,
  `degreeMinor` varchar(30) DEFAULT NULL,
  `startDate` date DEFAULT NULL,
  `endDate` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `candidateId` (`candidateId`),
  CONSTRAINT `candidateeducation_ibfk_1` FOREIGN KEY (`candidateId`) REFERENCES `candidate` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidateeducation`
--

LOCK TABLES `candidateeducation` WRITE;
/*!40000 ALTER TABLE `candidateeducation` DISABLE KEYS */;
INSERT INTO `candidateeducation` VALUES (1,5,'MIT',NULL,NULL,NULL,'BS Computer Science','Bachelors','Computer Science',NULL,NULL,NULL),(2,7,'Jawaharlal Nehru Technological University','Hyderabad','Telangana','India','Bachelor Of Engineering in Computer Science','Bachelors','Computer Science',NULL,NULL,NULL),(3,8,'JNTU',NULL,NULL,'India','Bachelors in Information Technology','Bachelors',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `candidateeducation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidateeducation_skills`
--

DROP TABLE IF EXISTS `candidateeducation_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidateeducation_skills` (
  `educationId` int(10) unsigned NOT NULL,
  `skillId` int(10) unsigned NOT NULL,
  `usePercentage` tinyint(3) unsigned NOT NULL DEFAULT 100,
  PRIMARY KEY (`educationId`,`skillId`),
  KEY `skillId` (`skillId`),
  CONSTRAINT `candidateeducation_skills_ibfk_1` FOREIGN KEY (`educationId`) REFERENCES `candidateeducation` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `candidateeducation_skills_ibfk_2` FOREIGN KEY (`skillId`) REFERENCES `candidate_skills` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidateeducation_skills`
--

LOCK TABLES `candidateeducation_skills` WRITE;
/*!40000 ALTER TABLE `candidateeducation_skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidateeducation_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidatehighlights`
--

DROP TABLE IF EXISTS `candidatehighlights`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatehighlights` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `candidateId` int(10) unsigned NOT NULL,
  `highlight` varchar(400) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `candidateId` (`candidateId`),
  CONSTRAINT `candidatehighlights_ibfk_1` FOREIGN KEY (`candidateId`) REFERENCES `candidate` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatehighlights`
--

LOCK TABLES `candidatehighlights` WRITE;
/*!40000 ALTER TABLE `candidatehighlights` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidatehighlights` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidatehighlights_skills`
--

DROP TABLE IF EXISTS `candidatehighlights_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatehighlights_skills` (
  `candidateHighlightsId` int(10) unsigned NOT NULL,
  `skillId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`candidateHighlightsId`,`skillId`),
  KEY `skillId` (`skillId`),
  CONSTRAINT `candidatehighlights_skills_ibfk_1` FOREIGN KEY (`candidateHighlightsId`) REFERENCES `candidatehighlights` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `candidatehighlights_skills_ibfk_2` FOREIGN KEY (`skillId`) REFERENCES `candidate_skills` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatehighlights_skills`
--

LOCK TABLES `candidatehighlights_skills` WRITE;
/*!40000 ALTER TABLE `candidatehighlights_skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidatehighlights_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidatejob_skills`
--

DROP TABLE IF EXISTS `candidatejob_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatejob_skills` (
  `jobId` int(10) unsigned NOT NULL,
  `skillId` int(10) unsigned NOT NULL,
  `usePercentage` tinyint(3) unsigned NOT NULL DEFAULT 100,
  PRIMARY KEY (`jobId`,`skillId`),
  KEY `skillId` (`skillId`),
  KEY `jobId` (`jobId`),
  CONSTRAINT `candidatejob_skills_ibfk_1` FOREIGN KEY (`jobId`) REFERENCES `candidatejobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `candidatejob_skills_ibfk_2` FOREIGN KEY (`skillId`) REFERENCES `candidate_skills` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatejob_skills`
--

LOCK TABLES `candidatejob_skills` WRITE;
/*!40000 ALTER TABLE `candidatejob_skills` DISABLE KEYS */;
INSERT INTO `candidatejob_skills` VALUES (6,2,100),(6,4,100),(6,6,100),(6,10,100),(6,11,100),(6,12,100),(6,13,100),(6,20,100),(6,21,100),(6,23,100),(6,29,100),(6,30,100),(6,31,100),(6,43,100),(6,45,100),(6,84,100),(6,90,100),(6,91,100),(6,92,100),(6,93,100),(6,94,100),(6,95,100),(6,96,100),(6,97,100),(6,98,100),(6,99,100),(6,100,100),(7,102,100),(7,103,100),(7,104,100),(7,105,100),(7,106,100),(7,107,100),(7,108,100),(7,109,100),(7,110,100),(7,111,100),(7,112,100),(7,113,100),(7,114,100),(7,115,100),(7,116,100),(7,117,100),(7,118,100),(7,119,100);
/*!40000 ALTER TABLE `candidatejob_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidatejobhighlights`
--

DROP TABLE IF EXISTS `candidatejobhighlights`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatejobhighlights` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `jobId` int(10) unsigned NOT NULL,
  `highlight` varchar(360) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobId` (`jobId`),
  CONSTRAINT `candidatejobhighlights_ibfk_1` FOREIGN KEY (`jobId`) REFERENCES `candidatejobs` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatejobhighlights`
--

LOCK TABLES `candidatejobhighlights` WRITE;
/*!40000 ALTER TABLE `candidatejobhighlights` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidatejobhighlights` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidatejobs`
--

DROP TABLE IF EXISTS `candidatejobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatejobs` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `candidateId` int(10) unsigned NOT NULL,
  `companyId` int(10) unsigned NOT NULL,
  `startDate` date DEFAULT NULL,
  `endDate` date DEFAULT NULL,
  `contactPersonId` int(10) unsigned DEFAULT NULL,
  `payType` enum('Salary','Hourly','','') DEFAULT NULL,
  `startPay` float DEFAULT NULL,
  `endPay` float DEFAULT NULL,
  `jobTitleId` int(10) unsigned DEFAULT NULL,
  `summary` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `candidateId` (`candidateId`),
  KEY `companyId` (`companyId`),
  KEY `contactPersonId` (`contactPersonId`),
  KEY `jobTitleId` (`jobTitleId`),
  CONSTRAINT `candidatejobs_ibfk_1` FOREIGN KEY (`candidateId`) REFERENCES `candidate` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `candidatejobs_ibfk_2` FOREIGN KEY (`companyId`) REFERENCES `company` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `candidatejobs_ibfk_3` FOREIGN KEY (`contactPersonId`) REFERENCES `person` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `candidatejobs_ibfk_4` FOREIGN KEY (`jobTitleId`) REFERENCES `candidatetitles` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatejobs`
--

LOCK TABLES `candidatejobs` WRITE;
/*!40000 ALTER TABLE `candidatejobs` DISABLE KEYS */;
INSERT INTO `candidatejobs` VALUES (4,3,2,'2014-03-01','2016-10-21',8,'Hourly',28,35.5,1,'solved over 100 NYTimes Crossword Puzzles while here!'),(5,3,3,'2013-01-15','2014-02-28',NULL,'Salary',40000,45000,2,'Learned how not to get fired!'),(6,7,4,'2015-06-01',NULL,NULL,NULL,NULL,NULL,5,''),(7,8,5,'2015-10-01',NULL,NULL,NULL,NULL,NULL,6,'');
/*!40000 ALTER TABLE `candidatejobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidatesocialmedia`
--

DROP TABLE IF EXISTS `candidatesocialmedia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatesocialmedia` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `candidateId` int(10) unsigned NOT NULL,
  `socialType` enum('Facebook','LinkedIn','Twitter','Google+','Instagram') NOT NULL,
  `socialLink` varchar(120) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `candidateId` (`candidateId`),
  CONSTRAINT `candidatesocialmedia_ibfk_1` FOREIGN KEY (`candidateId`) REFERENCES `candidate` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatesocialmedia`
--

LOCK TABLES `candidatesocialmedia` WRITE;
/*!40000 ALTER TABLE `candidatesocialmedia` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidatesocialmedia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidatetitles`
--

DROP TABLE IF EXISTS `candidatetitles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatetitles` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `candidateId` int(10) unsigned NOT NULL,
  `titleDescription` varchar(30) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `candidateId` (`candidateId`),
  CONSTRAINT `candidatetitles_ibfk_1` FOREIGN KEY (`candidateId`) REFERENCES `candidate` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatetitles`
--

LOCK TABLES `candidatetitles` WRITE;
/*!40000 ALTER TABLE `candidatetitles` DISABLE KEYS */;
INSERT INTO `candidatetitles` VALUES (1,3,'Senior Developer'),(2,3,'Junior Developer'),(3,5,'DBA'),(4,5,'Front-End Dev'),(5,7,'Sr. Network Engineer'),(6,8,'Sr. Net Developer');
/*!40000 ALTER TABLE `candidatetitles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company`
--

DROP TABLE IF EXISTS `company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(80) NOT NULL,
  `description` varchar(300) DEFAULT NULL,
  `contactPersonId` int(10) unsigned DEFAULT NULL,
  `addressLine1` varchar(80) DEFAULT NULL,
  `addressLine2` varchar(50) DEFAULT NULL,
  `municipality` varchar(30) DEFAULT NULL,
  `region` varchar(30) DEFAULT NULL,
  `postalCode` varchar(15) DEFAULT NULL,
  `countryCode` varchar(30) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `website` varchar(120) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `contactPersonId` (`contactPersonId`),
  CONSTRAINT `company_ibfk_1` FOREIGN KEY (`contactPersonId`) REFERENCES `person` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company`
--

LOCK TABLES `company` WRITE;
/*!40000 ALTER TABLE `company` DISABLE KEYS */;
INSERT INTO `company` VALUES (1,'ABC Agency','ABC Consultants for Web Dev',8,NULL,NULL,NULL,NULL,NULL,NULL,'contactus@abcagency.com',NULL),(2,'Acme Insurance','Acme Health Insurance company',3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL),(3,'Susan\'s Hair Design',NULL,9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL),(4,'T-Mobile',NULL,NULL,NULL,NULL,'Atlanta','GA',NULL,NULL,NULL,NULL),(5,'Hershey\'s',NULL,NULL,NULL,NULL,NULL,'PA',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_persons`
--

DROP TABLE IF EXISTS `company_persons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_persons` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `companyId` int(10) unsigned NOT NULL,
  `personId` int(10) unsigned NOT NULL,
  `title` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `companyId` (`companyId`),
  KEY `personId` (`personId`),
  CONSTRAINT `company_persons_ibfk_1` FOREIGN KEY (`companyId`) REFERENCES `company` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `company_persons_ibfk_2` FOREIGN KEY (`personId`) REFERENCES `person` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_persons`
--

LOCK TABLES `company_persons` WRITE;
/*!40000 ALTER TABLE `company_persons` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_persons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `company_vw`
--

DROP TABLE IF EXISTS `company_vw`;
/*!50001 DROP VIEW IF EXISTS `company_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `company_vw` (
  `id` tinyint NOT NULL,
  `name` tinyint NOT NULL,
  `description` tinyint NOT NULL,
  `addressLine1` tinyint NOT NULL,
  `addressLine2` tinyint NOT NULL,
  `municipality` tinyint NOT NULL,
  `region` tinyint NOT NULL,
  `postalCode` tinyint NOT NULL,
  `email` tinyint NOT NULL,
  `website` tinyint NOT NULL,
  `personId` tinyint NOT NULL,
  `personFormattedName` tinyint NOT NULL,
  `personGivenName` tinyint NOT NULL,
  `personMiddleName` tinyint NOT NULL,
  `personFamilyName` tinyint NOT NULL,
  `personAffix` tinyint NOT NULL,
  `personAddr1` tinyint NOT NULL,
  `personAddr2` tinyint NOT NULL,
  `personMunicipality` tinyint NOT NULL,
  `personRegion` tinyint NOT NULL,
  `personPostalCode` tinyint NOT NULL,
  `personCountryCode` tinyint NOT NULL,
  `personEmail1` tinyint NOT NULL,
  `personEmail2` tinyint NOT NULL,
  `personWebsite` tinyint NOT NULL,
  `personHomePhone` tinyint NOT NULL,
  `personMobilePhone` tinyint NOT NULL,
  `personWorkPhone` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `members`
--

DROP TABLE IF EXISTS `members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `members` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `firstName` char(25) DEFAULT NULL,
  `lastName` char(25) DEFAULT NULL,
  `userName` char(20) NOT NULL,
  `email` char(50) NOT NULL,
  `confirmValue` char(60) DEFAULT NULL,
  `confirmFlag` tinyint(1) NOT NULL DEFAULT 0,
  `password` char(32) NOT NULL,
  `securityLevel` tinyint(4) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `members`
--

LOCK TABLES `members` WRITE;
/*!40000 ALTER TABLE `members` DISABLE KEYS */;
INSERT INTO `members` VALUES (1,'Ronald','Boutilier','ronbout','ronbout@3sixd.com',NULL,1,'reddog',1);
/*!40000 ALTER TABLE `members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `person`
--

DROP TABLE IF EXISTS `person`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `person` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `formattedName` varchar(60) NOT NULL,
  `givenName` varchar(30) NOT NULL,
  `middleName` varchar(30) DEFAULT NULL,
  `familyName` varchar(30) NOT NULL,
  `affix` varchar(10) DEFAULT NULL,
  `addressLine1` varchar(80) DEFAULT NULL,
  `addressLine2` varchar(50) DEFAULT NULL,
  `municipality` varchar(30) DEFAULT NULL,
  `region` varchar(30) DEFAULT NULL,
  `postalCode` varchar(15) DEFAULT NULL,
  `countryCode` varchar(30) DEFAULT NULL,
  `email1` varchar(50) DEFAULT NULL,
  `email2` varchar(50) DEFAULT NULL,
  `website` varchar(120) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `person`
--

LOCK TABLES `person` WRITE;
/*!40000 ALTER TABLE `person` DISABLE KEYS */;
/*!40000 ALTER TABLE `person` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `tr_person_bi` BEFORE INSERT ON `person` FOR EACH ROW BEGIN
	IF new.formattedName IS NULL OR new.formattedName = '' THEN 
		 SET new.formattedName = CONCAT_WS(' ', new.givenName, new.middleName, new.familyName, new.affix);
	END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `person_with_phones_vw`
--

DROP TABLE IF EXISTS `person_with_phones_vw`;
/*!50001 DROP VIEW IF EXISTS `person_with_phones_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `person_with_phones_vw` (
  `id` tinyint NOT NULL,
  `formattedName` tinyint NOT NULL,
  `givenName` tinyint NOT NULL,
  `middleName` tinyint NOT NULL,
  `familyName` tinyint NOT NULL,
  `affix` tinyint NOT NULL,
  `addressLine1` tinyint NOT NULL,
  `addressLine2` tinyint NOT NULL,
  `municipality` tinyint NOT NULL,
  `region` tinyint NOT NULL,
  `postalCode` tinyint NOT NULL,
  `countryCode` tinyint NOT NULL,
  `email1` tinyint NOT NULL,
  `email2` tinyint NOT NULL,
  `website` tinyint NOT NULL,
  `phoneType` tinyint NOT NULL,
  `phoneNumber` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `person_with_phonetypes_vw`
--

DROP TABLE IF EXISTS `person_with_phonetypes_vw`;
/*!50001 DROP VIEW IF EXISTS `person_with_phonetypes_vw`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `person_with_phonetypes_vw` (
  `id` tinyint NOT NULL,
  `formattedName` tinyint NOT NULL,
  `givenName` tinyint NOT NULL,
  `middleName` tinyint NOT NULL,
  `familyName` tinyint NOT NULL,
  `affix` tinyint NOT NULL,
  `addressLine1` tinyint NOT NULL,
  `addressLine2` tinyint NOT NULL,
  `municipality` tinyint NOT NULL,
  `region` tinyint NOT NULL,
  `postalCode` tinyint NOT NULL,
  `countryCode` tinyint NOT NULL,
  `email1` tinyint NOT NULL,
  `email2` tinyint NOT NULL,
  `website` tinyint NOT NULL,
  `Home` tinyint NOT NULL,
  `Mobile` tinyint NOT NULL,
  `Work` tinyint NOT NULL
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `personphone`
--

DROP TABLE IF EXISTS `personphone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personphone` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `personId` int(10) unsigned NOT NULL,
  `phoneType` enum('Home','Work','Mobile','Other','Fax','Pager') NOT NULL,
  `phoneNumber` char(15) NOT NULL,
  `phoneExt` char(6) NOT NULL,
  `whenAvailable` varchar(40) NOT NULL DEFAULT 'anytime',
  PRIMARY KEY (`id`),
  KEY `personId` (`personId`),
  CONSTRAINT `FK_PHONE_PERSONID` FOREIGN KEY (`personId`) REFERENCES `person` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personphone`
--

LOCK TABLES `personphone` WRITE;
/*!40000 ALTER TABLE `personphone` DISABLE KEYS */;
INSERT INTO `personphone` VALUES (1,1,'Home','202-333-9483','','Mon-Fri 6-10pm,'),(2,1,'Mobile','202-333-4442','','anytime'),(3,2,'Work','307-444-2222','','anytime'),(4,3,'Work','213-333-1243','','Mon-Fri 8 - 5'),(5,6,'Mobile','666-666-6666','','anytime'),(6,9,'Work','333-444-4444','','anytime'),(7,8,'Work','321-456-9087','','anytime'),(8,8,'Mobile','601-333-8123','','anytime'),(9,10,'Mobile','850-462- 5333','','anytime');
/*!40000 ALTER TABLE `personphone` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requisition`
--

DROP TABLE IF EXISTS `requisition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requisition` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `clientId` int(10) unsigned NOT NULL,
  `contactPerson` int(10) unsigned DEFAULT NULL,
  `postDate` date NOT NULL,
  `startDate` date DEFAULT NULL,
  `endDate` date DEFAULT NULL,
  `address1` varchar(80) DEFAULT NULL,
  `address2` varchar(50) DEFAULT NULL,
  `municipality` varchar(30) DEFAULT NULL,
  `region` varchar(30) DEFAULT NULL,
  `postalCode` varchar(15) DEFAULT NULL,
  `countryCode` varchar(30) NOT NULL DEFAULT 'United States',
  `phone` varchar(25) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `url` varchar(120) DEFAULT NULL,
  `summary` text NOT NULL,
  `typicalDay` text DEFAULT NULL,
  `responsibilities` text DEFAULT NULL,
  `educationlevel` enum('non-Degree','Associates','Bachelors','Masters','Doctorate','Diploma') DEFAULT NULL,
  `educationSubject` varchar(40) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `clientId` (`clientId`),
  KEY `contactPerson` (`contactPerson`),
  CONSTRAINT `requisition_ibfk_1` FOREIGN KEY (`clientId`) REFERENCES `company` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `requisition_ibfk_2` FOREIGN KEY (`contactPerson`) REFERENCES `person` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requisition`
--

LOCK TABLES `requisition` WRITE;
/*!40000 ALTER TABLE `requisition` DISABLE KEYS */;
/*!40000 ALTER TABLE `requisition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requisition_skills`
--

DROP TABLE IF EXISTS `requisition_skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requisition_skills` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `requisitionId` int(10) unsigned NOT NULL,
  `skillId` int(10) unsigned NOT NULL,
  `required` tinyint(1) NOT NULL DEFAULT 0,
  `importanceRank` tinyint(3) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `requisitionId` (`requisitionId`),
  KEY `skillId` (`skillId`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requisition_skills`
--

LOCK TABLES `requisition_skills` WRITE;
/*!40000 ALTER TABLE `requisition_skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `requisition_skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill`
--

DROP TABLE IF EXISTS `skill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `skill` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` char(80) NOT NULL,
  `description` varchar(240) DEFAULT NULL,
  `url` varchar(120) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name_2` (`name`),
  KEY `Name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=139 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill`
--

LOCK TABLES `skill` WRITE;
/*!40000 ALTER TABLE `skill` DISABLE KEYS */;
/*!40000 ALTER TABLE `skill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill_relations`
--

DROP TABLE IF EXISTS `skill_relations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `skill_relations` (
  `parentSkillId` int(10) unsigned NOT NULL,
  `childSkillId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`parentSkillId`,`childSkillId`) USING BTREE,
  KEY `skillId2` (`childSkillId`),
  CONSTRAINT `skill_relations_ibfk_1` FOREIGN KEY (`parentSkillId`) REFERENCES `skill` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `skill_relations_ibfk_2` FOREIGN KEY (`childSkillId`) REFERENCES `skill` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill_relations`
--

LOCK TABLES `skill_relations` WRITE;
/*!40000 ALTER TABLE `skill_relations` DISABLE KEYS */;
INSERT INTO `skill_relations` VALUES (103,9),(103,10),(103,11),(103,12),(103,13),(103,14),(103,15),(103,16),(103,17),(103,27),(103,28),(103,29),(103,30),(103,31),(103,32),(103,33),(103,34),(103,35),(103,36),(103,37),(103,38),(103,47),(103,83),(103,94),(103,99),(103,100),(103,101),(103,102),(103,107),(103,108),(103,109),(103,111),(103,112),(111,27),(111,28),(111,29),(112,30),(112,31),(112,32),(112,33),(112,34),(112,35),(112,36),(112,37),(112,38),(112,102);
/*!40000 ALTER TABLE `skill_relations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skills_techtags`
--

DROP TABLE IF EXISTS `skills_techtags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `skills_techtags` (
  `skillId` int(10) unsigned NOT NULL,
  `techtagId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`skillId`,`techtagId`),
  KEY `TechtagId` (`techtagId`),
  KEY `SkillId` (`skillId`),
  CONSTRAINT `skills_techtags_ibfk_1` FOREIGN KEY (`skillId`) REFERENCES `skill` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `skills_techtags_ibfk_2` FOREIGN KEY (`techtagId`) REFERENCES `techtag` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skills_techtags`
--

LOCK TABLES `skills_techtags` WRITE;
/*!40000 ALTER TABLE `skills_techtags` DISABLE KEYS */;
/*!40000 ALTER TABLE `skills_techtags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `techtag`
--

DROP TABLE IF EXISTS `techtag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `techtag` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` char(80) NOT NULL,
  `description` varchar(160) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name_2` (`name`),
  KEY `Name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `techtag`
--

LOCK TABLES `techtag` WRITE;
/*!40000 ALTER TABLE `techtag` DISABLE KEYS */;
/*!40000 ALTER TABLE `techtag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `webcontact`
--

DROP TABLE IF EXISTS `webcontact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `webcontact` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(60) NOT NULL,
  `email` varchar(50) NOT NULL,
  `phone` char(15) DEFAULT NULL,
  `message` varchar(800) DEFAULT NULL,
  `resumeLink` varchar(80) DEFAULT NULL,
  `lastUpdateUser` varchar(190) NOT NULL,
  `lastUpdateMembersId` int(10) unsigned DEFAULT NULL,
  `lastUpdateTs` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `webcontact`
--

LOCK TABLES `webcontact` WRITE;
/*!40000 ALTER TABLE `webcontact` DISABLE KEYS */;
INSERT INTO `webcontact` VALUES (2,'Fred Flintstone','freddie@bedrock.com','333-444-5555','Yabba Dabba Doo!',NULL,'jimbo@localhost',NULL,'2016-10-14 23:54:20');
/*!40000 ALTER TABLE `webcontact` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `tr_webcontact_bi` BEFORE INSERT ON `webcontact` FOR EACH ROW BEGIN

			DECLARE usr VARCHAR(190);

			SELECT USER() INTO usr;

			SET NEW.lastUpdateUser = usr;

			SET NEW.lastUpdateTs = NOW();

		END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `tr_webcontact_ai` AFTER INSERT ON `webcontact` FOR EACH ROW BEGIN

			

			

			INSERT INTO webcontact_audit (webcontactId, name, email, phone, message, resumeLink, lastUpdateUser, lastUpdateMembersId, lastUpdateTs, operation)

				VALUES (NEW.id, NEW.name, NEW.email, NEW.phone, NEW.message, NEW.resumeLink, NEW.lastUpdateUser, NEW.lastUpdateMembersId, NEW.lastUpdateTs, "INSERT");

		END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `tr_webcontact_bu` BEFORE UPDATE ON `webcontact` FOR EACH ROW BEGIN

			DECLARE usr VARCHAR(190);

			SELECT USER() INTO usr;

			SET NEW.lastUpdateUser = usr;

			SET NEW.lastUpdateTs = NOW();

		END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `tr_webcontact_au` AFTER UPDATE ON `webcontact` FOR EACH ROW BEGIN

			

			

			INSERT INTO webcontact_audit (webcontactId, name, email, phone, message, resumeLink, lastUpdateUser, lastUpdateMembersId, lastUpdateTs, operation)

				VALUES (NEW.id, NEW.name, NEW.email, NEW.phone, NEW.message, NEW.resumeLink, NEW.lastUpdateUser, NEW.lastUpdateMembersId, NEW.lastUpdateTs, "UPDATE");

		END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `tr_webcontact_ad` AFTER DELETE ON `webcontact` FOR EACH ROW BEGIN

			

			

				IF (SELECT @memberid IS NULL)

					THEN

						SET @memberid = NULL;

				END IF;

				SET @ts = NOW();

			INSERT INTO webcontact_audit (webcontactId, name, email, phone, message, resumeLink, lastUpdateUser, lastUpdateMembersId, lastUpdateTs, operation)

				VALUES (OLD.id, OLD.name, OLD.email, OLD.phone, OLD.message, OLD.resumeLink, OLD.lastUpdateUser, @memberid, @ts, "DELETE");

		END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `webcontact_audit`
--

DROP TABLE IF EXISTS `webcontact_audit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `webcontact_audit` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(60) NOT NULL,
  `email` varchar(50) NOT NULL,
  `phone` char(15) DEFAULT NULL,
  `message` varchar(800) DEFAULT NULL,
  `resumeLink` varchar(80) DEFAULT NULL,
  `lastUpdateUser` varchar(190) NOT NULL,
  `lastUpdateMembersId` int(10) unsigned DEFAULT NULL,
  `lastUpdateTs` timestamp NOT NULL DEFAULT current_timestamp(),
  `operation` char(10) NOT NULL,
  `webcontactId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `webcontact_audit`
--

LOCK TABLES `webcontact_audit` WRITE;
/*!40000 ALTER TABLE `webcontact_audit` DISABLE KEYS */;
INSERT INTO `webcontact_audit` VALUES (1,'Clark Kent','mild@mannered.com','555-666-9999','Hey Lois',NULL,'jimbo@localhost',5,'2016-10-15 05:52:27','DELETE',6);
/*!40000 ALTER TABLE `webcontact_audit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `webcontact_audit_bak`
--

DROP TABLE IF EXISTS `webcontact_audit_bak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `webcontact_audit_bak` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(60) NOT NULL,
  `email` varchar(50) NOT NULL,
  `phone` char(15) DEFAULT NULL,
  `message` varchar(800) DEFAULT NULL,
  `resumeLink` varchar(80) DEFAULT NULL,
  `lastUpdateUser` varchar(190) NOT NULL,
  `lastUpdateMembersId` int(10) unsigned DEFAULT NULL,
  `lastUpdateTs` timestamp NOT NULL DEFAULT current_timestamp(),
  `operation` char(10) NOT NULL,
  `webcontactId` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `webcontact_audit_bak`
--

LOCK TABLES `webcontact_audit_bak` WRITE;
/*!40000 ALTER TABLE `webcontact_audit_bak` DISABLE KEYS */;
/*!40000 ALTER TABLE `webcontact_audit_bak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `resume`
--

USE `resume`;

--
-- Final view structure for view `candidate_basic_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_basic_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_basic_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_basic_vw` AS select `c1`.`id` AS `id`,`c1`.`executiveSummary` AS `executiveSummary`,`c1`.`objective` AS `objective`,ifnull(`c1`.`agencyContactId`,`a1`.`contactPersonId`) AS `agencyContactId`,`apv`.`formattedName` AS `agencyContactFormattedName`,`apv`.`Mobile` AS `agencyContactMobilePhone`,`apv`.`Work` AS `agencyContactWorkPhone`,`c1`.`personId` AS `personId`,`p1`.`formattedName` AS `personFormattedName`,`p1`.`givenName` AS `personGivenName`,`p1`.`middleName` AS `personMiddleName`,`p1`.`familyName` AS `personFamilyName`,`p1`.`affix` AS `personAffix`,`p1`.`addressLine1` AS `personAddr1`,`p1`.`addressLine2` AS `personAddr2`,`p1`.`municipality` AS `personMunicipality`,`p1`.`region` AS `personRegion`,`p1`.`postalCode` AS `personPostalCode`,`p1`.`countryCode` AS `personCountryCode`,`p1`.`email1` AS `personEmail1`,`p1`.`email2` AS `personEmail2`,`p1`.`website` AS `personWebsite`,`c1`.`agencyId` AS `agencyId`,`a1`.`name` AS `agencyName`,`a1`.`description` AS `agencyDesc`,`a1`.`addressLine1` AS `agencyAddr1`,`a1`.`addressLine2` AS `agencyAddr2`,`a1`.`municipality` AS `agencyCity`,`a1`.`region` AS `agencyState`,`a1`.`postalCode` AS `agencyZip`,`a1`.`countryCode` AS `agencyCountry`,`a1`.`email` AS `agencyEmail`,`a1`.`website` AS `agencyWebsite`,`cv`.`homePhone` AS `personHomePhone`,`cv`.`mobilePhone` AS `personMobilePhone`,`cv`.`workPhone` AS `personWorkPhone`,`cv`.`jobSkillName` AS `jobSkillName`,`cv`.`edSkillName` AS `edSkillName`,`cv`.`certSkillName` AS `certSkillName` from ((((`candidate` `c1` join `person` `p1` on(`c1`.`personId` = `p1`.`id`)) left join `company` `a1` on(`c1`.`agencyId` = `a1`.`id`)) left join `candidate_with_phonetypes_skills_vw` `cv` on(`c1`.`id` = `cv`.`id`)) left join `person_with_phonetypes_vw` `apv` on(ifnull(`c1`.`agencyContactId`,`a1`.`contactPersonId`) = `apv`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_certifications_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_certifications_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_certifications_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_certifications_vw` AS select `cc1`.`id` AS `id`,`cc1`.`candidateId` AS `candidateId`,`cc1`.`name` AS `name`,`cc1`.`description` AS `description`,`cc1`.`issueDate` AS `issueDate`,`cc1`.`certificateImage` AS `certificateImage`,group_concat(`s1`.`id` separator '|') AS `skillIds`,group_concat(`s1`.`name` separator '|') AS `skillNames`,group_concat(`ccs1`.`usePercentage` separator '|') AS `skillPcts` from ((`candidatecertifications` `cc1` left join `candidatecertifications_skills` `ccs1` on(`cc1`.`id` = `ccs1`.`certificationId`)) left join `skill` `s1` on(`ccs1`.`skillId` = `s1`.`id`)) group by `cc1`.`id` order by `cc1`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_education_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_education_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_education_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_education_vw` AS select `ed1`.`id` AS `id`,`ed1`.`candidateId` AS `candidateId`,`ed1`.`schoolName` AS `schoolName`,`ed1`.`schoolMunicipality` AS `schoolMunicipality`,`ed1`.`schoolRegion` AS `schoolRegion`,`ed1`.`schoolCountry` AS `schoolCountry`,`ed1`.`degreeName` AS `degreeName`,`ed1`.`degreeType` AS `degreeType`,`ed1`.`degreeMajor` AS `degreeMajor`,`ed1`.`degreeMinor` AS `degreeMinor`,`ed1`.`startDate` AS `startDate`,`ed1`.`endDate` AS `endDate`,group_concat(`s1`.`id` separator '|') AS `skillIds`,group_concat(`s1`.`name` separator '|') AS `skillNames`,group_concat(`eds1`.`usePercentage` separator '|') AS `skillPcts` from ((`candidateeducation` `ed1` left join `candidateeducation_skills` `eds1` on(`ed1`.`id` = `eds1`.`educationId`)) left join `skill` `s1` on(`eds1`.`skillId` = `s1`.`id`)) group by `ed1`.`id` order by `ed1`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_jobedskilllist_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_jobedskilllist_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_jobedskilllist_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_jobedskilllist_vw` AS select `candidate_jobedskills_vw`.`id` AS `id`,`candidate_jobedskills_vw`.`formattedName` AS `formattedName`,`candidate_jobedskills_vw`.`familyName` AS `familyName`,`candidate_jobedskills_vw`.`jobSkillName` AS `jobSkillname`,group_concat(`candidate_jobedskills_vw`.`edSkillName` separator '|') AS `edSkillName` from `candidate_jobedskills_vw` group by `candidate_jobedskills_vw`.`id` order by `candidate_jobedskills_vw`.`familyName` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_jobedskills_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_jobedskills_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_jobedskills_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_jobedskills_vw` AS select `c1`.`id` AS `id`,`c1`.`formattedName` AS `formattedName`,`c1`.`familyName` AS `familyName`,`c1`.`jobSkillName` AS `jobSkillName`,`eds`.`skillId` AS `edSkillId`,`s`.`name` AS `edSkillName` from (((`candidate_jobskilllist_vw` `c1` left join `candidateeducation` `ed` on(`c1`.`id` = `ed`.`candidateId`)) left join `candidateeducation_skills` `eds` on(`ed`.`id` = `eds`.`educationId`)) left join `skill` `s` on(`eds`.`skillId` = `s`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_jobs_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_jobs_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_jobs_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_jobs_vw` AS select `j1`.`id` AS `id`,`j1`.`candidateId` AS `candidateId`,`j1`.`startDate` AS `startDate`,`j1`.`endDate` AS `endDate`,`j1`.`payType` AS `payType`,`j1`.`startPay` AS `startPay`,`j1`.`endPay` AS `endPay`,`j1`.`summary` AS `summary`,`j1`.`jobTitleId` AS `jobTitleId`,`jt1`.`titleDescription` AS `jobTitle`,`j1`.`companyId` AS `companyId`,`c1`.`name` AS `name`,`c1`.`municipality` AS `municipality`,`c1`.`region` AS `region`,`c1`.`countryCode` AS `countryCode`,ifnull(`j1`.`contactPersonId`,`c1`.`contactPersonId`) AS `personId`,`cpv`.`formattedName` AS `personName`,`cpv`.`Mobile` AS `personMobilePhone`,`cpv`.`Work` AS `personWorkPhone`,group_concat(`s1`.`id` separator '|') AS `skillIds`,group_concat(`s1`.`name` separator '|') AS `skillNames`,group_concat(`js1`.`usePercentage` separator '|') AS `skillPcts`,group_concat(coalesce(`cs`.`tested`,0) separator '|') AS `skillTestedFlag`,group_concat(coalesce(`cs`.`testResults`,0) separator '|') AS `skillTestResults`,group_concat(coalesce(`cs`.`totalMonths`,0) separator '|') AS `skillTotalMonths`,group_concat(`cs`.`techtagId` separator '|') AS `skillTags`,group_concat(`tt`.`name` separator '|') AS `skillTagNames` from (((((((`candidatejobs` `j1` join `company` `c1` on(`j1`.`companyId` = `c1`.`id`)) left join `candidatejob_skills` `js1` on(`j1`.`id` = `js1`.`jobId`)) left join `candidate_skills` `cs` on(`js1`.`skillId` = `cs`.`id`)) left join `skill` `s1` on(`cs`.`skillId` = `s1`.`id`)) left join `techtag` `tt` on(`cs`.`techtagId` = `tt`.`id`)) left join `candidatetitles` `jt1` on(`j1`.`jobTitleId` = `jt1`.`id`)) left join `person_with_phonetypes_vw` `cpv` on(ifnull(`j1`.`contactPersonId`,`c1`.`contactPersonId`) = `cpv`.`id`)) group by `j1`.`id` order by `j1`.`id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_jobskilllist_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_jobskilllist_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_jobskilllist_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_jobskilllist_vw` AS select `candidate_with_jobskills_vw`.`id` AS `id`,`candidate_with_jobskills_vw`.`formattedName` AS `formattedName`,`candidate_with_jobskills_vw`.`familyName` AS `familyName`,group_concat(`candidate_with_jobskills_vw`.`jobSkillName` separator '|') AS `jobSkillName` from `candidate_with_jobskills_vw` group by `candidate_with_jobskills_vw`.`id` order by `candidate_with_jobskills_vw`.`familyName` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_skilllist_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_skilllist_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_skilllist_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_skilllist_vw` AS select `candidate_skills_vw`.`id` AS `id`,`candidate_skills_vw`.`formattedName` AS `formattedName`,`candidate_skills_vw`.`familyName` AS `familyName`,`candidate_skills_vw`.`jobSkillName` AS `jobSkillname`,`candidate_skills_vw`.`edSkillName` AS `edSkillName`,group_concat(`candidate_skills_vw`.`certSkillName` separator '|') AS `certSkillName` from `candidate_skills_vw` group by `candidate_skills_vw`.`id` order by `candidate_skills_vw`.`familyName` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_skills_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_skills_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_skills_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_skills_vw` AS select `c1`.`id` AS `id`,`c1`.`formattedName` AS `formattedName`,`c1`.`familyName` AS `familyName`,`c1`.`jobSkillname` AS `jobSkillName`,`c1`.`edSkillName` AS `edSkillName`,`certs`.`skillId` AS `certSkillId`,`s`.`name` AS `certSkillName` from (((`candidate_jobedskilllist_vw` `c1` left join `candidatecertifications` `cert` on(`c1`.`id` = `cert`.`candidateId`)) left join `candidatecertifications_skills` `certs` on(`cert`.`id` = `certs`.`certificationId`)) left join `skill` `s` on(`certs`.`skillId` = `s`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_with_jobskills_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_with_jobskills_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_with_jobskills_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_with_jobskills_vw` AS select distinct `c1`.`id` AS `id`,`p1`.`formattedName` AS `formattedName`,`p1`.`familyName` AS `familyName`,`cjs`.`skillId` AS `jobSkillId`,`s`.`name` AS `jobSkillName`,`cs`.`tested` AS `skillTested`,`cs`.`testResults` AS `testResults`,`cs`.`totalMonths` AS `skillTotalMonths` from (((((`candidate` `c1` join `person` `p1` on(`c1`.`personId` = `p1`.`id`)) left join `candidatejobs` `cj` on(`c1`.`id` = `cj`.`candidateId`)) left join `candidatejob_skills` `cjs` on(`cj`.`id` = `cjs`.`jobId`)) left join `candidate_skills` `cs` on(`cjs`.`skillId` = `cs`.`skillId` and `c1`.`id` = `cs`.`candidateId`)) left join `skill` `s` on(`cjs`.`skillId` = `s`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_with_phones_jobskills_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_with_phones_jobskills_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_with_phones_jobskills_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_with_phones_jobskills_vw` AS select `p1`.`id` AS `id`,`p1`.`formattedName` AS `FullName`,`p1`.`familyName` AS `LastName`,`c2`.`name` AS `Agency`,`p2`.`phoneType` AS `phoneType`,`p2`.`phoneNumber` AS `phoneNumber`,`cs`.`jobSkillname` AS `jobSkillName`,`cs`.`edSkillName` AS `edSkillName`,`cs`.`certSkillName` AS `certSkillName` from ((((`candidate` `c1` join `person` `p1` on(`c1`.`personId` = `p1`.`id`)) left join `personphone` `p2` on(`p1`.`id` = `p2`.`personId`)) left join `company` `c2` on(`c1`.`agencyId` = `c2`.`id`)) left join `candidate_skilllist_vw` `cs` on(`c1`.`id` = `cs`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_with_phones_skills_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_with_phones_skills_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_with_phones_skills_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_with_phones_skills_vw` AS select `c1`.`id` AS `id`,`p1`.`formattedName` AS `fullName`,`p1`.`familyName` AS `lastName`,`c2`.`name` AS `agency`,`p2`.`phoneType` AS `phoneType`,`p2`.`phoneNumber` AS `phoneNumber`,`cs`.`jobSkillname` AS `jobSkillName`,`cs`.`edSkillName` AS `edSkillName`,`cs`.`certSkillName` AS `certSkillName` from ((((`candidate` `c1` join `person` `p1` on(`c1`.`personId` = `p1`.`id`)) left join `personphone` `p2` on(`p1`.`id` = `p2`.`personId`)) left join `company` `c2` on(`c1`.`agencyId` = `c2`.`id`)) left join `candidate_skilllist_vw` `cs` on(`c1`.`id` = `cs`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `candidate_with_phonetypes_skills_vw`
--

/*!50001 DROP TABLE IF EXISTS `candidate_with_phonetypes_skills_vw`*/;
/*!50001 DROP VIEW IF EXISTS `candidate_with_phonetypes_skills_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `candidate_with_phonetypes_skills_vw` AS select `candidate_with_phones_skills_vw`.`id` AS `id`,`candidate_with_phones_skills_vw`.`fullName` AS `fullName`,`candidate_with_phones_skills_vw`.`jobSkillName` AS `jobSkillName`,`candidate_with_phones_skills_vw`.`edSkillName` AS `edSkillName`,`candidate_with_phones_skills_vw`.`certSkillName` AS `certSkillName`,group_concat(case when `candidate_with_phones_skills_vw`.`phoneType` = 'Home' then `candidate_with_phones_skills_vw`.`phoneNumber` end separator ',') AS `homePhone`,group_concat(case when `candidate_with_phones_skills_vw`.`phoneType` = 'Mobile' then `candidate_with_phones_skills_vw`.`phoneNumber` end separator ',') AS `mobilePhone`,group_concat(case when `candidate_with_phones_skills_vw`.`phoneType` = 'Work' then `candidate_with_phones_skills_vw`.`phoneNumber` end separator ',') AS `workPhone` from `candidate_with_phones_skills_vw` group by `candidate_with_phones_skills_vw`.`id` order by `candidate_with_phones_skills_vw`.`lastName` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `company_vw`
--

/*!50001 DROP TABLE IF EXISTS `company_vw`*/;
/*!50001 DROP VIEW IF EXISTS `company_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `company_vw` AS select `c1`.`id` AS `id`,`c1`.`name` AS `name`,`c1`.`description` AS `description`,`c1`.`addressLine1` AS `addressLine1`,`c1`.`addressLine2` AS `addressLine2`,`c1`.`municipality` AS `municipality`,`c1`.`region` AS `region`,`c1`.`postalCode` AS `postalCode`,`c1`.`email` AS `email`,`c1`.`website` AS `website`,`c1`.`contactPersonId` AS `personId`,`pp1`.`formattedName` AS `personFormattedName`,`pp1`.`givenName` AS `personGivenName`,`pp1`.`middleName` AS `personMiddleName`,`pp1`.`familyName` AS `personFamilyName`,`pp1`.`affix` AS `personAffix`,`pp1`.`addressLine1` AS `personAddr1`,`pp1`.`addressLine2` AS `personAddr2`,`pp1`.`municipality` AS `personMunicipality`,`pp1`.`region` AS `personRegion`,`pp1`.`postalCode` AS `personPostalCode`,`pp1`.`countryCode` AS `personCountryCode`,`pp1`.`email1` AS `personEmail1`,`pp1`.`email2` AS `personEmail2`,`pp1`.`website` AS `personWebsite`,`pp1`.`Home` AS `personHomePhone`,`pp1`.`Mobile` AS `personMobilePhone`,`pp1`.`Work` AS `personWorkPhone` from (`company` `c1` left join `person_with_phonetypes_vw` `pp1` on(`c1`.`contactPersonId` = `pp1`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `person_with_phones_vw`
--

/*!50001 DROP TABLE IF EXISTS `person_with_phones_vw`*/;
/*!50001 DROP VIEW IF EXISTS `person_with_phones_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `person_with_phones_vw` AS select `p1`.`id` AS `id`,`p1`.`formattedName` AS `formattedName`,`p1`.`givenName` AS `givenName`,`p1`.`middleName` AS `middleName`,`p1`.`familyName` AS `familyName`,`p1`.`affix` AS `affix`,`p1`.`addressLine1` AS `addressLine1`,`p1`.`addressLine2` AS `addressLine2`,`p1`.`municipality` AS `municipality`,`p1`.`region` AS `region`,`p1`.`postalCode` AS `postalCode`,`p1`.`countryCode` AS `countryCode`,`p1`.`email1` AS `email1`,`p1`.`email2` AS `email2`,`p1`.`website` AS `website`,`p2`.`phoneType` AS `phoneType`,`p2`.`phoneNumber` AS `phoneNumber` from (`person` `p1` left join `personphone` `p2` on(`p1`.`id` = `p2`.`personId`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `person_with_phonetypes_vw`
--

/*!50001 DROP TABLE IF EXISTS `person_with_phonetypes_vw`*/;
/*!50001 DROP VIEW IF EXISTS `person_with_phonetypes_vw`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `person_with_phonetypes_vw` AS select `p1`.`id` AS `id`,`p1`.`formattedName` AS `formattedName`,`p1`.`givenName` AS `givenName`,`p1`.`middleName` AS `middleName`,`p1`.`familyName` AS `familyName`,`p1`.`affix` AS `affix`,`p1`.`addressLine1` AS `addressLine1`,`p1`.`addressLine2` AS `addressLine2`,`p1`.`municipality` AS `municipality`,`p1`.`region` AS `region`,`p1`.`postalCode` AS `postalCode`,`p1`.`countryCode` AS `countryCode`,`p1`.`email1` AS `email1`,`p1`.`email2` AS `email2`,`p1`.`website` AS `website`,group_concat(case when `p1`.`phoneType` = 'Home' then `p1`.`phoneNumber` end separator ',') AS `Home`,group_concat(case when `p1`.`phoneType` = 'Mobile' then `p1`.`phoneNumber` end separator ',') AS `Mobile`,group_concat(case when `p1`.`phoneType` = 'Work' then `p1`.`phoneNumber` end separator ',') AS `Work` from `person_with_phones_vw` `p1` group by `p1`.`formattedName` order by `p1`.`familyName` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-03-09 12:45:30
